.groupList, .group {
  list-style: none;
  padding: 0;
}

.group {
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    width: 500px;
  }
}
